body {
    background-color: pink;
    color: black;
    font-family: Arial;
    margin: 0;
}

#heading
{background-color:#FF69B4}
h1 {
    text-align: center;
    font-size: 48px
    display:flex
    text-align:center;
}

img {
    border: 3px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
}

ul {
    list-style-type: square;
}

div {
    padding: 20px;
    margin-bottom: 10px;
    border-bottom: 2px solid #000; 
}

#skills {
    border-bottom: none;
}

#heading {
    background-color: #FF69B4;
}

h1 {
    text-align: center;
    font-size: 48px;
}
