/* Simple styling using basic CSS concepts */

body {
    background-color: pink;
    color: black;
    font-family: Arial;
    margin: 40px;
}

h1 {
    text-align: center;
    font-size: 48px;
}

img {
    border: 3px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
}

ul {
    list-style-type: square;
}

