body {
    background-color: #ffe6f2;
    color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

div {
    background-color: white;
    padding: 20px;
    margin: 20px ;
    width: 80%;
    border: 2px solid #ff69b4;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

#heading {
    background-color: #FF69B4;
    color: white;
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 0;
}

h1 {
    text-align: center;
    font-size: 48px;
    margin: 0;
    padding: 20px 0;
}

img {
    border: 3px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
}

ul {
    list-style-type: square;
}
