body {
    background-color: pink;
    color: black;
    font-family: Arial, sans-serif;
    margin: 0;
}

#heading {
    background-color: #FF69B4;
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 48px;
    margin: 0;
}

img {
    border: 3px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div {
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

ul {
    list-style-type: square;
}
