body {
    background-color: pink;
    color: black;
    font-family: Arial;
    margin: 0;
}

#heading
{background-color:#FF69B4}
h1 {
    text-align: center;
    font-size: 48px
    display:flex
    text-align:center;
}

img {
    border: 3px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
}

ul {
    list-style-type: square;
}

